$btn-colors: (
  'primary': #66ccff,
  'warning': #ffcc00,
  'error': #ff0000,
  'success': #00ff00,
  'disabled': #e0e0e0
);
$link-colors: (
  'blue': #66ccff,
  'blue-hover': #1ab2ff
);
$navbar-color: #07beb8;
$blue-1: #c4fff9;
$blue-2: #bafaf7;
$blue-3: #b0f5f4;
$blue-4: #9ceaef;
$blue-5: #82e1e3;
$blue-6: #75dddd;
$blue-7: #6fdbda;
$blue-8: #68d8d6;
$blue-9: #3dccc7;
$blue-10: #07beb8;

$palette-1: #264653;
$palette-2: #2a9d8f;
$palette-3: #e9c46a;
$palette-4: #f4a261;
$palette-5: #e76f51;
