@use "sass:map";
@import './colors';
@import './indent.scss';
@import './layout.scss';
body {
  margin: 0;
}
// Margins
@include indent('.mr-', 'margin-right');
@include indent('.ml-', 'margin-left');
@include indent('.mt-', 'margin-top');
@include indent('.mb-', 'margin-bottom');
@include indent('.m-', 'margin');
// Paddings
@include indent('.pr-', 'padding-right');
@include indent('.pl-', 'padding-left');
@include indent('.pt-', 'padding-top');
@include indent('.pb-', 'padding-bottom');
@include indent('.p-', 'padding');
/* Button */
.btn {
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.btn-primary {
  background-color: map-get($map: $btn-colors, $key: 'primary');
}
.btn-error {
  background-color: map-get($map: $btn-colors, $key: 'error');
}
.btn-warning {
  background-color: map-get($map: $btn-colors, $key: 'warning');
}
.btn-success {
  background-color: map-get($map: $btn-colors, $key: 'success');
}
a {
  text-decoration: none;
  color: map-get($map: $link-colors, $key: 'blue');
}
a:hover {
  color: map-get($map: $link-colors, $key: 'blue-hover');
}

/* Flex */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
//List
ul {
  margin: 0;
}
li {
  list-style: none;
}
.w-full {
  width: 100%;
}
