@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
.container {
  margin: auto;
}
.container-fluid {
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
}
@mixin colsMix() {
  $i: 1;
  @while $i <= 12 {
    #{'.col-' + $i} {
      #{'width'}: #{(100/12) * $i + '%'};
    }
    $i: $i + 1;
  }
}
@include colsMix();
